
body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}

/*ХЕДЕР*/

.nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}

.nav-link-active {
  color: #2196f3;
}

.header-address {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.header-telephone {
  margin-left: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.header-address:hover,
.header-address:focus {
  color: #2196f3;
}

/*ХИРО*/
.hero {
  background: #2F303A;
  height: 600px;
}
.hero-title {
padding-top: 200px;
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 44px;
letter-spacing: 0.06em;
color: #FFFFFF;
}
.hero-button {
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  color:#ffffff;
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 30px;
}
button:hover {
  cursor: pointer;
}

/*ПРЕИМУЩЕСТВА*/

.features-item {
  width:270px;
}
.about-us-title {
  text-transform: uppercase;
  color: #212121;
  font-style: normal;
  font-weight: bold;
  font-size: 14px
}
.paragraph-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

/*ЧЕМ МЫ ЗАНИМАЕМСЯ*/
.second-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  color: #212121;
}

/*НАША КОМАНДА*/
.ourteam {
 background: #f5f4fa;
}
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.ourteam-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #212121;
}
.profession-text {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
}

/*ФУТЕР*/

.footer-container {
  height:252px;
}

.footer-address {
text-decoration: none;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.footer-mail-telephone {
text-decoration: none;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.footer-address:hover,
.footer-address:focus {
  color: #2196f3;
}
.footer-mail-telephone:hover,
.footer-mail-telephone:focus {
  color: #2196f3;
}

/* СЕКЦИЯ КНОПОК В ПОРТФОЛИО */

.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  background: #f5f4fa;
}
.portfolio-button:hover,
.portfolio-button:focus,
.portfolio-button-active {
  background: #2196f3;
  color: #f5f5f5;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
  }

/* ПОРТФОЛИО */

  .portfolio-item {
    width: 370px;
    border: 1px solid #eeeeee;
  }
  .portfolio-link {
    text-decoration: none;
  }
  .portfolio-image {
    height: 294px;
  }
  .portfolio-title {
    color: #212121;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
  }
  .portfolio-work {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
  }