body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}

/*ХЕДЕР*/

.nav-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}

/*ХИРО*/
.hero {
  background: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.hero-button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
}
button:hover {
  cursor: pointer;
}

/*ПРЕИМУЩЕСТВА*/

.about-us-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}
.paragraph-text {
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/*ЧЕМ МЫ ЗАНИМАЕМСЯ*/
.second-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

/*НАША КОМАНДА*/
.ourteam {
  background: #f5f4fa;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
}

.ourteam-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
}
.profession-text {
  font-size: 16px;
  letter-spacing: 0.03em;
}

/*ФУТЕР*/

.footer {
  height: 252px;
  background: #2f303a;
}

/* СЕКЦИЯ КНОПОК В ПОРТФОЛИО */

.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  background: #f5f4fa;
}
.portfolio-button:hover,
.portfolio-button:focus,
.portfolio-button-active {
  background: #2196f3;
  color: #f5f5f5;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

/* ПОРТФОЛИО */

.portfolio-item {
  width: 370px;
  border: 1px solid #eeeeee;
}
.portfolio-link {
  text-decoration: none;
}
.portfolio-image {
  height: 294px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
}
.portfolio-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.03em;
}
